
.poke-cell {
    display: flex;
    flex-direction: column;
    height: 220px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0px;
  }

  .poke-cell:hover {
    box-shadow: 0px 0px 10px 3px rgba(122,122,122,1);
    transform: translate(0px, -1px);
    cursor: pointer;
  }

  .poke-cell:active {
    box-shadow: 0 0px;
    transform: translate(0px, 3px);
  }

  .poke-cell .poke-cell-name {
    display: flex;
    height: 20%;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin-left: 20px;
    align-items: center;
  }

  .divider {
    height: 1px;
    background: #cccccc;
    margin: 0px;
    padding: 0px;
 }

  .poke-cell .poke-cell-image {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }


  

