.poke-list {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 100px;
  }

  @media only screen and (max-width: 505px) {
    
    .poke-list {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }

  @media only screen and (max-width: 450px) {
    
    .poke-list {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }