
.poke-cell {
    display: flex;
    flex-direction: column;
    height: 220px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0px;
  }

  .poke-cell:hover {
    box-shadow: 0px 0px 10px 3px rgba(122,122,122,1);
    transform: translate(0px, -1px);
    cursor: pointer;
  }

  .poke-cell:active {
    box-shadow: 0 0px;
    transform: translate(0px, 3px);
  }

  .poke-cell .poke-cell-name {
    display: flex;
    height: 20%;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin-left: 20px;
    align-items: center;
  }

  .divider {
    height: 1px;
    background: #cccccc;
    margin: 0px;
    padding: 0px;
 }

  .poke-cell .poke-cell-image {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }

  .poke-cell-types {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 30px;
    width: 30%;
    background: rgb(247, 255, 238);
    color: rgba(82, 196, 26, 1);
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(164, 230, 90);
    padding: 5px 10px 5px 10px;
  }


