.search-bar {
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    opacity: 0.2;
    font-size: 30px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

textarea:focus, input:focus{
    outline: none;
}